class <%= class_name %>Null < ApplicationNull

  # Generated fake attributes
  <% clazz_columns.each do |column, ar_column|  %>
  <%= "def #{column}" %>
  <%= "  return #{default_value(ar_column.type)}" %>
  <%= "end" %>
  <% end %>

end
