class <%= module_prefix %><%= class_name %>Decorator < ApplicationDecorator

  # Expects to be created from <%= class_name %> like this:
  # <%= module_prefix %><%= class_name %>Decorator.new(@my_<%= class_name.downcase %>)

end
