require "test_helper"

class <%= class_name %>DecoratorTest < ActiveSupport::TestCase
  setup do
    @decorator = <%= module_prefix %><%= class_name %>Decorator.new(<%= class_name%>.first)
  end

end
